<!DOCTYPE html>
<html>
<head>
  <title>Sussynctly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Welcome to Sussynctly</h1>
</p>Sussynctly is the best tool to keep your contact list up to date with your friends and family</p>

<p class="notice"><%= yield %></p>
<p class="alert"><%= yield %></p>


<h3>To get started</h3>
<p><input type="button" value="Import"> your personal contact card, or create your card now:</p>
<form for="contact-card">
  <p> Add microformat html here</p>
</form>

<%= yield %>

</body>
</html>
